<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ page.getLanguage }}" xml:lang="{{ page.getLanguage }}">
<head>
    {{ child('head') }}
</head>
<body class="{{ page.getPageClass }}">
{{ child('content') }}
{{ child('script') }}
</body>
</html>